@font-face {
  font-family: "opensans";
  src: url("fonts/open-sans/opensans-regular-webfont.woff2") format("woff2"),
    url("fonts/open-sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  /* font-display: auto; */
  /* font-display: swap; */
  /* font-display: block; */
  /* font-display: fallback; */
  font-display: optional;
}

@font-face {
  font-family: "opensans";
  src: url("fonts/open-sans/opensans-bold-webfont.woff2") format("woff2"),
    url("fonts/open-sans/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 100%;
}

body {
  margin: 10px;
  /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* 1 x font size of the root element (html)*/
  font-size: 1rem;
  /* 1.5 x 16px */
  /* font-size: 1.5rem; */
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  /* font-size: 2rem; */
  font-size: 4.209rem;
}
h2 {
  /* font-family: Roboto, Arial, Helvetica, sans-serif; */
  font-size: 3.175rem;
}

p {
  font-weight: normal;
  font-style: italic;
  /* font-size: 30px; */
  font-size: 1rem;
  color: #333;
}

@media screen and (min-with: 400px) {
  html {
    font-size: 130%;
  }
}

h1 {
  margin: 3rem 0 1rem;
}
