<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/floating-elements.css" />
  </head>
  <body>
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <!-- <p class = "clear">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo assumenda alias molestias natus vitae quidem doloremque inventore minima? Quisquam impedit iusto pariatur officia maxime totam rem excepturi vero illo labore enim ratione soluta ad nemo inventore voluptatum mollitia hic commodi, accusamus architecto, deserunt eum. At voluptate atque soluta reprehenderit accusantium?</p> -->
      <div class="clear"></div>
    </article>
  </body>
</html>
