<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/media-queries.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        officia odit iusto omnis tempora minus ipsa? Vitae magni sint inventore
        itaque quas laboriosam repellat eos modi, error autem, exercitationem
        velit.
      </div>
      <div class="box">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo adipisci
        minima nemo sapiente quas ducimus error natus. Ducimus provident magni
        repellat. Quae, illum repellendus velit accusamus esse error! Sed,
        consectetur.
      </div>
    </div>
  </body>
</html>
