<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="css/navbar.css" />
  </head>
  <body>
    <div class="container">
      <div class="box box-one">About</div>
      <div class="box box-two">Courses</div>
      <div class="box box-three">Forum</div>
      <div class="box box-four">Learning paths</div>
      <div class="box box-five">Contact</div>
    </div>
  </body>
</html>
