<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/photo-gallery.css" />
  </head>
  <body>
    <div class="gallery">
      <img src="https://picsum.photos/1920/1080?random" alt="" />
      <img src="https://picsum.photos/1921/1080?random" alt="" />
      <img src="https://picsum.photos/1922/1080?random" alt="" />
      <img src="https://picsum.photos/1923/1080?random" alt="" />
      <img src="https://picsum.photos/1924/1080?random" alt="" />
      <img src="https://picsum.photos/1925/1080?random" alt="" />
      <img src="https://picsum.photos/1926/1080?random" alt="" />
      <img src="https://picsum.photos/1927/1080?random" alt="" />
      <img src="https://picsum.photos/1928/1080?random" alt="" />
    </div>
  </body>
</html>
