.box {
  /* width: 200px; */
  width: 600px;
  height: 200px;
  /* background: linear-gradient(dodgerblue, red) */
  /* background: linear-gradient(to right, dodgerblue, red) */
  /* background: linear-gradient(to bottom right, dodgerblue, red) */
  /* background: linear-gradient(45deg, dodgerblue, red) */
  /* background: linear-gradient(45deg, dodgerblue, red, yellow 90%) */
  /* background: linear-gradient(45deg, dodgerblue, red, yellow, tomato) */
  /* background: radial-gradient(circle at top left, red, black); */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,205,93,1) 53%, rgba(0,212,255,1) 100%);
}
