a:visited,
a:link {
  color: dodgerblue;
}

/* article :first-child {
  font-size: 140%;
  font-style: italic;
} */

/* article :first-of-type {
    font-size: 140%;
    font-style: italic;
  } */

article p:first-of-type {
  font-size: 140%;
  font-style: italic;
}

/* article p:last-of-type {
    font-weight: bold;
  } */

/* article p:last-child {
    font-weight: bold;
  } */

article :last-child {
  font-weight: bold;
}
/* 
  ul li:nth-child(odd) {
    color: deeppink;
  } */

/* ul li:nth-child(even) {
    color: deeppink;
  } */

ul li:nth-child(3n) {
  color: deeppink;
}

a:hover,
a:focus {
  color: deeppink;
}
