body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  transition: transform 0.5s, background 0.5s;
  /* transition: transform 0.5s linear 1s; */
  /* transition: transform 0.5s ease-in; */
  /* transition: transform 0.5s ease-out; */
  /* transition: transform 0.5s ease-in-out; */
  /* transition: transform 0.5s cubic-bezier(.23, .59, .79, .41); */
}

.box:hover {
  transform: rotate(50deg);
  background: dodgerblue;
}
